.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Palette Mosaic', cursive;
  font-family: 'Zen Antique', serif;
  font-weight: bold;
  font-size:  30px
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  font-size:  15px;
  
}

.center  {
    list-style-type: none;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    
  }
